[Unit]
Description=TEE-ENV Pre-Service 

[Service]
Type=simple
ExecStart=/usr/bin/tee-env-pre.sh
Restart=always
RestartSec=5s
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tee-env-pre

[Install]
WantedBy=multi-user.target
Alias=tee-env-pre.service